/app/config/parameters.yml
var/SymfonyRequirements.php
web/config.php
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
bin/
/vendor/
/web/bundles/
web/config.php
.buildpath
.project
.settings/
