{% extends 'base.html.twig' %}


{% block body %}
    <div id="wrapper">
        <div id="container">
        	Stack test
        	
        	AREA: {{ mystack.pop().name }}
        
        </div>
    </div>
{% endblock %}
        