{% extends 'base.html.twig' %}


{% block body %}
    <div id="wrapper">
        <div id="container">
        	Stack test
        	
        	<ul>
                {% for job in mystack %}
        			<li>{{job.getId()}} {{ job.getName() }}  {{ job.getStart() }}</li>
                {% endfor %}
			</ul>
        
        </div>
    </div>
{% endblock %}
        